<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Share Report By Emily</title>
  <style>
    html, body, #layout {
      width: 100%;
      height: 100%;
      overflow-y: auto;
    }
  </style>
</head>
<body>
<div id="layout" class="ant-layout ant-layout-has-sider">
  <div id="sider" class="ant-layout-sider" style="flex: 0 0 180px; width: 180px;"></div>
  <div class="ant-layout" style="overflow-y: auto">
    <div id="header" class="ant-layout-header" style="background: rgb(255, 255, 255); padding: 0px;"></div>
    <div id="content" class="ant-layout-content" style="margin: 0px 16px;">
      <div id="breadcrumb" class="ant-breadcrumb" style="margin: 20px 0px;"></div>
      <div id="main" style="padding: 24px; background: rgb(255, 255, 255); min-height: 360px;"></div>
    </div>
    <div id="footer" class="ant-layout-footer" style="text-align: center"></div>
  </div>
</div>

<script src='/cached/vendor.dll.js'></script>
</body>
</html>
